:root{
    --primaryClr : #6B9142;
    --primaryClrHover : #89ba55;
    --secondaryClr :#FF8B00;
    --primaryTextClr : #ffffff;
    --secondaryTextClr :#000000;
    --shadowClrDark : #676767;
    --shadowClrLight : #e3e3e3;
    --dropShadow : "0px 12.2182px 27.0545px rgba(0, 0, 0, 0.15)"
}

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* margin: 0 auto; */
}
body{
    font-family: Poppins;    
}
.container{
    width: min(90%, 1440px);
    margin: 0 auto;
}
li, a {
    list-style: none;
    text-decoration: none;
    color: #000000;
}
.title{
    font-size: 2rem;
    color: #ee3355;
    text-align: center;
    font-weight: bold;
    font-family: Poppins ;    
}

/* Nav bar Style Start */
.navBg{
    background-color: var(--shadowClrLight);
}
.navBar1{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    padding-block: 1rem;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}
.nav > ul {
    display: flex;
    align-items: center;
}
.logo{
    color: var(--primaryClr);
    font-family: Poppins;
    font-size: 28px;
    font-weight: 400;
    /* line-height: 45px; */
    letter-spacing: 0em;
    text-align: left;
}
.list + .list{
    margin-left: 2rem;
}
.link{

}
.button{
    background-color: var(--primaryClr);
    color: var(--primaryTextClr);
    cursor: pointer;
    text-transform: capitalize;
    border: transparent;
    transition: backgroundColor 300ms ease-in-out, color 300ms ease-in-out;
}
.button-1{
    padding-block: .5rem;
    padding-inline: 1.5rem;
    border-radius: 2rem;
}
.button-2{
    font-size:1.5rem;
    width: 60px;
    height: 60px;
    padding-block: .25rem;
    padding-inline: .5rem;
    border-radius: 50%;
}
.fa-cart-plus {
}
.button:hover{
    background-color: var(--primaryClrHover);
    color: var(--secondaryTextClr);
}
/* Nav bar Style End */

/* Heading Style Start */
.leaf_left{
    position: absolute;
    animation: animation4 1s ease-in 2s 1 forwards;
    width: 30%;
    top: 0%;
    z-index: -10;
    left: -10%;
}
.header{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    place-items: center;
    padding-block: 10rem;
}
.col-1{
    grid-row: 1;
    grid-column: 1 / 7;
    width: 100%;
}
.col-1 h2 {
    font-size: clamp(1.5rem , 7vw , 4.5rem);
font-weight: 700;
letter-spacing: 0em;
line-height: 1.2;
text-align: left;
color: var(--primaryClr);
z-index: 10;
}
.col-1 p{
    color: var(--shadowClrDark);
    text-transform: capitalize;
    padding-block: 1rem;
}
.col-1 > div{
    border: 2px solid var(--shadowClrLight);
    z-index: -1;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 2rem;
    box-sizing: border-box;
    margin-top: 1rem;
}
.col-1 > div > div{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #FF8B00;
    padding: 0.5rem;
    margin: .5rem;
}
.col-1 > div > input {
    border: transparent;
    width: 80%;
    margin-left: 1rem;

}
.col-2{
    display: flex;
    justify-content: flex-end;
    grid-row: 1;
    grid-column: 7 / 13;
    width: 100%;
    position: relative;
    /* overflow-x: hidden; */
}
.col-2 > div {
    max-width: 700px;
}
.col-2 > div > img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    animation: animation2 1s ease-in .3s 1 forwards;
}
.floatingCard , .plater1, .leaf {
    position: absolute;
    display: grid;
    place-items: center;
}
.floatingCard{
    background-color: hsla(0, 0%, 100%, 0.452);
    backdrop-filter: blur(.25rem);
    padding-block: 1rem;
    padding-inline: 2rem;
    border-radius: .5rem;
    border: 2px solid hsla(0, 0%, 100%, 0.479);
    top: 0%;
    left: 65%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 12.2182px 27.0545px rgba(0, 0, 0, 0.15);
    word-wrap: none;
}
.floatingCard > div{
    display: flex;
    align-items: center;
    font-size: 2rem;
    gap: 1rem;
    color: var(--secondaryClr)
}
.floatingCard > h2{
    color: var(--shadowClrDark);
    text-transform: capitalize;
    font-size: 1.2rem;
    text-align: left;
}
.plater1 {
    left:  7%;
    top: -5%;
    transform: translate(-50%,-50%);
    z-index: -1;

    animation: animation 1s ease-in 1s 1 forwards;
}
.leaf{
    width: 50%;
    top: -7%;
    left: 65%;
    transform: translate(-50%,-50%);
    z-index: -10;
    animation: animation3 1s ease-in 1.2s 1 forwards;
}
.searchBtn{
    padding-block: 1rem;

    border: 2px solid var(--primaryClr);
    padding-inline: 2rem;
    display: flex;
    gap: .5rem;
    border-radius: 2rem;
    z-index: 10;
}
.searchBtn:hover{
    border: 2px solid var(--primaryClrHover);
}

/* !! Header Content Animation */
@keyframes animation {
    0%{
        transform: translateX(300%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes animation2 {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes animation3 {
    0%{
        transform: translateX(200%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes animation4 {
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}
@media (max-width:768px) {
    .col-1{
        grid-column: 1 / 13;
        grid-row-gap: 5rem;
    }
    .col-2{
        grid-row: 2;
        grid-column: 1 / 13;
        margin-top: 6rem;
    }
    .plater1 {
        width: 30%;
        left:  -5%;
        top: -5%;
        transform: translate(-50%,-50%);
        z-index: -1;
    
        animation: animation 1s ease-in 1s 1 forwards;
    }
}
/* Heading Style End */

/* Second Section Style Start */
.header1{
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-block: 9rem;
    place-items: center;
}   
.header1 > *:nth-child(1){
    grid-row: 1;
    grid-column: 1 / 6;
}
.header1 > *:nth-child(2){
    grid-row: 1;
    grid-column: 7 / 13;
    position: relative;
    z-index: -1;

}
.scene{
    max-width: 600px;
    width: 100%;
}
.scene > img{
    object-fit: cover;
    object-position: center;
}

.header1 h2{
    font-size: clamp(1.5rem , 7vw + 1.5rem , 3.5rem);
    line-height: 1.3;
    text-transform: capitalize;
    color: var(--primaryClr);
}
.header1 p{
    margin-top: 1rem;
}
.button{
    border: 2px soild blue;
    font-size: 1rem;
    margin-top: 2rem;
}
.cycleContainer{
    position: absolute;
    top: 5%;
    left: 10%;
    overflow: hidden;
}
.cycle{
    z-index: 10;
    animation: cycle 15s ease-in-out 1s infinite forwards;
}

@keyframes cycle {
    0%{
        transform: translateX(-50%);
        opacity: 1;
    }
    100%{
        transform: translateX(200%);
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .header1{
        /* overflow-x: hidden; */
    }
    .header1 > *:nth-child(1){
        grid-column: 1 / 13;
        /* grid-row-gap: 3rem; */
    }
    .header1 > *:nth-child(2){
        grid-row: 2;
        grid-column: 1 / 13;
    }
}
/* Second Section Style End */