:root{
    --primaryClr : #6B9142;
    --primaryClrHover : #89ba55;
    --secondaryClr :#FF8B00;
    --primaryTextClr : #ffffff;
    --secondaryTextClr :#000000;
    --shadowClrDark : #676767;
    --shadowClrLight : #e3e3e3;
    --dropShadow : "0px 12.2182px 27.0545px rgba(0, 0, 0, 0.15)"
}

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* margin: 0 auto; */
}
body{
    font-family: Poppins;    
}
.container{
    width: min(90%, 1440px);
    margin: 0 auto;
}
li, a {
    list-style: none;
    text-decoration: none;
    color: #000000;
}
.title{
    font-size: 2rem;
    color: #ee3355;
    text-align: center;
    font-weight: bold;
    font-family: Poppins ;    
}

/* Nav bar Style Start */
.navBg{
    background-color: var(--shadowClrLight);
}
.navBar1{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    padding-block: 1rem;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}
.nav > ul {
    display: flex;
    align-items: center;
}
.logo{
    color: var(--primaryClr);
    font-family: Poppins;
    font-size: 28px;
    font-weight: 400;
    /* line-height: 45px; */
    letter-spacing: 0em;
    text-align: left;
}
.list + .list{
    margin-left: 2rem;
}
.link{

}
.button{
    background-color: var(--primaryClr);
    color: var(--primaryTextClr);
    cursor: pointer;
    text-transform: capitalize;
    border: transparent;
    transition: backgroundColor 300ms ease-in-out, color 300ms ease-in-out;
}
.button-1{
    padding-block: .5rem;
    padding-inline: 1.5rem;
    border-radius: 2rem;
}
.button-2{
    font-size:1.5rem;
    width: 60px;
    height: 60px;
    padding-block: .25rem;
    padding-inline: .5rem;
    border-radius: 50%;
}
.fa-cart-plus {
}
.button:hover{
    background-color: var(--primaryClrHover);
    color: var(--secondaryTextClr);
}
/* Nav bar Style End */

/* Heading Style Start */
.header{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    place-items: center;
    padding-block: 10rem;
}
.col-1{
    grid-row: 1;
    grid-column: 1 / 7;
    width: 100%;
}
.col-1 h2 {
font-size: 65px;
font-weight: 700;
line-height: 70px;
letter-spacing: 0em;
text-align: left;
color: var(--primaryClr)
}
.col-1 p{
    color: var(--shadowClrDark);
    text-transform: capitalize;
    padding-block: 1rem;
}
.col-1 > div{
    border: 2px solid var(--shadowClrLight);
    z-index: -1;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 2rem;
    box-sizing: border-box;
    margin-top: 1rem;
}
.col-1 > div > div{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #FF8B00;
    padding: 0.5rem;
    margin: .5rem;
}
.col-1 > div > input {
    border: transparent;
    width: 80%;
    margin-left: 1rem;

}
.col-2{
    display: flex;
    justify-content: flex-end;
    grid-row: 1;
    grid-column: 7 / 13;
    width: 100%;

}
.col-2 > div {
    max-width: 500px;
}
.col-2 > div > img{
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.searchBtn{
    padding-block: 1rem;

    border: 2px solid var(--primaryClr);
    padding-inline: 2rem;
    display: flex;
    gap: .5rem;
    border-radius: 2rem;
    z-index: 10;
}
.searchBtn:hover{
    border: 2px solid var(--primaryClrHover);
}
/* Heading Style End */